<header>
    <nav class="navbar navbar-expand-lg bg-light px-5 border border-bottom-2">
        <div class="container-fluid">
          <a class="navbar-brand fs-2 fw-bold" style="width: 50px;"  href="#"><img style="width: 100%;"src="https://img.icons8.com/doodle/2x/box--v2.png" alt="">Productos Angular</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav__link__a nav-link active me-5" aria-current="page" href="#">Inicio</a>
              <a class="nav__link__a btn btn-outline-primary">Contactar</a>
            </div>
          </div>
        </div>
      </nav>
      <div class="ps-5 py-2 bg-danger bg-opacity-70 d-flex gap-3">
        <div><a  class="nav-link text-light" href="#">Home |</a></div>
        <div><a  class="nav-link text-light" href="#">Productos |</a></div>
        <div><a  class="nav-link text-light" href="#">Crear Productos |</a></div>
      </div>
</header>


