<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="container">
      <div class="mb-5">
        <h1 class="text-center">Webapp de Productos Angular</h1>
      <h5 class="text-center">Gestiona tus productos con la aplicación web SPA creada con Angular</h5>
      </div>
      
      <div class="d-flex justify-content-center gap-2">
        <button class="btn btn-primary">Ver productos</button>
        <button class="btn btn-success">Añadir productos</button>
      </div>
    </div>
</div>